body
{
    background: url('C:/python dd/assement/modul-4 assement/.vscode/information.png');
    background-size: cover;
    background-attachment: fixed;
}
p{
    width: 40%;
    height: auto;
    margin: auto;
    background-color: black;
    pending: 20px;
    margin-top: 2%;
}
